
# include "Resource.hpp"

# ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE 
  BEGIN
    "Resource.h\0"
  END
2 TEXTINCLUDE 
  BEGIN
    "\r\n"
    "\0"
  END
3 TEXTINCLUDE 
  BEGIN
    "\r\n"
    "\0"
  END
# endif

IDI_ICON1   ICON   "icon.ico"
